@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    --line-fill: #3498db;
    --line-empty: #e0e0e0;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f6f7fb;
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
}

.container{
    text-align: center;
}

.container-progress{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.container-progress::before{
    content: '';
    background-color: var(--line-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}
.progress{
    background-color: var(--line-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: .3s ease;
}

.circle{
    background-color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--line-empty);
}

.circle.active{
    border-color: var(--line-fill);
}

.btn{
    background-color: var(--line-fill);
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active{
    transform: scale(.98);
}

.btn:focus{
    outline: none;
}

.btn:disabled{
    background-color: var(--line-empty);
    cursor: not-allowed;
}